* {
  color: white;
  font-family: Verdana;
}

.banner {
  color: white;
  font-size: 50px;
  font-weight: normal;
  text-align: center;
  }

.footer{
  color: Gray;
  text-align: center;
}

.link{
  color: Aquamarine;
  font-size: 16px;
  text-decoration: underline;
}

.maintext{
  color: Gray;
  font-size: 21px;
}

.tagline{
  font-size: 42px;
  font-weight: 300px;
}

body{
  background-color: black;
  text-align: center;
}
